.App {
  text-align: center;
  font-family: 'Asap', sans-serif;
}

.title {
  font-weight: 600;
  font-style: italic;
  font-size: 144px;
  line-height: 129px;
}

.full-stack {
  transform: scale(0.75);
}



