.App {
  text-align: center;
  font-family: 'Asap', sans-serif;
  display: flex;
  margin-top: 20px;
}

.column1 {
  flex: 60%;
}
.column {
  flex: 40%;
}
.title {
  font-weight: 600;
  font-style: italic;
  font-size: 100px;
  line-height: 85px;
}

.full-stack {
  height: 57vw;
  width: 45vw;
  margin-left: -15px;
}

.content-div{
  display: flex;
  flex-direction: column;
  margin: 0px 20px 10px -20px;
}

.lance-deco-div {
  padding: 0.7vw 0.7vw;
  background: linear-gradient(130deg, #fcd6ff 70%, #97e103b2 100%);
  border-radius: 10px;
}

.lance-div {
  border:0.8vw solid white;
  border-radius: 10px;
  font-size: 2.6vw;
}

.sub-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fs-container {
  display: flex;
  flex-direction: column ;
  margin-right: 5px;
}

.full-stack-title {
  font-size: 6vw;
  font-style: italic;
}

.slash {
  font-size: 17vw;
  font-weight: 600;
}

.screens {
  text-align: right;
  font-size: 3.5vw;
  align-items: flex-end;
}

.portfolio:hover {
  color: #90D701;
  transition: color 0.2s ease;
}

.statement-deco {
  padding: 0.9vw 0.9vw;
  background: linear-gradient(100deg, #fcd6ff 70%, #96E1036E 100%);
  border-radius: 10px;
}

.statement {
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px;
  text-align: left;
  text-indent: 1vw;
  font-size: 2.7vw;
  overflow: scroll;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  align-items: baseline;
}

.links img {
  width: 4vw;
}

@media (max-width: 450px) {
  .App {
    flex-direction: column-reverse;
  };
  .title-1-div {
    order: 1;
  }
  .content-div{
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
  }

  .column{
    flex: 100%
  }

  .sub-title{
    margin-bottom: 15px;
    justify-content: center;
  }

  .statement{
    font-size: 4.5vw;
  }

  .lance-deco-div {
    padding: 1.3vw 1.3vw;
  }

  .lance-div{
    font-size: 4.5vw;
    border: 0.9vw solid white;
  }

  .full-stack-title {
    font-size: 8.5vw;
  }

  .slash {
    font-size: 22vw;
    font-weight: 400;
  }

  .screens{
    font-size: 4.7vw;
  }

  .sub-title{
    align-content: baseline;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .links img {
    width: 7vw;
  }

  .full-stack {
    height: 80vw;
    width: 65vw;
    margin-left: -15px;
  }
}
