.App {
  text-align: center;
  font-family: 'Asap', sans-serif;
  display: flex;
  margin-top: 20px;
}

.column1 {
  flex: 60%;
}
.column {
  flex: 40%;
}
.title {
  font-weight: 600;
  font-style: italic;
  font-size: 100px;
  line-height: 85px;
}

.full-stack {
  height: 57vw;
  width: 45vw;
  margin-left: -15px;
}

.content-div{
  display: flex;
  flex-direction: column;
  margin: 0px 20px 10px -20px;
}

.lance-div {
  border: 4px solid white;
  border-radius: 10px;
  font-size: 2.6vw;
}

.sub-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fs-container {
  display: flex;
  flex-direction: column ;
  margin-right: 5px;
}

.full-stack-title {
  font-size: 6vw;
  font-style: italic;
}

.slash {
  font-size: 17vw;
  font-weight: 600;
}

.screens {
  text-align: right;
  font-size: 3.5vw;
  align-items: flex-end;
  /* margin-left: -5px; */
}

.resume {
  margin: 15px;
}

.portfolio:hover {
  color: #90D701;
  transition: color 0.2s ease;
}

.statement {
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px;
  text-align: left;
  text-indent: 1vw;
  font-size: 2.7vw;
  overflow: scroll;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
  align-items: baseline;
}

.links img {
  width: 4vw;
}

