@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,600;1,600&display=swap');


html {
  /* background: rgb(240,200,236);
  background: linear-gradient(117deg, rgba(240,200,236,1) 75%, rgba(209,231,156,1) 100%); */
  /* background: conic-gradient (from 125deg at 34% 39%, white 100%, #FCD6FF 100%); */
  background: 
  linear-gradient(100deg, #fcd6ff0f 70%, #97e10351 100%),
  conic-gradient(from 118deg at 35% 57%, #ffffffcb 10%, #fcd6ff 40%, #fcd6ff4f 40%, #fcd6ff51 100%),
  linear-gradient(100deg, #fcd6ff 70%, #96E1036E 100%),
  /* linear-gradient(90deg, #fcd6ff 70%, #97e10331 100%), */
  conic-gradient(from 123deg at 40% 57%, #ffffff6f 10%, #fcd6ff4f 40%, #fcd6ff51 100%); 
  min-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

}

body {
  font-family: 'Asap', sans-serif;
  color: #1b1c1d;
  min-height: 100%;
  background-attachment: fixed;
  background-size: cover;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}
hr {
  height: 1px;
  margin: 30px 0;
  border: none;
  background-color: #3b3c3d;
}

a {
  color: none;
  text-decoration: none;
  cursor: pointer;
}

a:link, a:visited {
  color: #F964FC;
}

a:hover {
  color: #90D701
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue {
  color: #7F73FF;
}

.red {
  color: #F964FC;
}

.white {
  color: white;
}